<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaMisc/src/CST5301IntroductionToJava/lab2andlab4/ZooKeeper.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="CST5301IntroductionToJava.lab2andlab4.ZooKeeper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaMisc"/>
</launchConfiguration>
