<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/assignment3-validator/src/cst6445/assignment3/CST6445Assignment3Validator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cst6445.assignment3.CST6445Assignment3Validator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="assignment3-validator"/>
</launchConfiguration>
