<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynamicOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PageOne</display-name>
    <servlet-name>PageOne</servlet-name>
    <servlet-class>cookies.PageOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageOne</servlet-name>
    <url-pattern>/page-one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageTwo</display-name>
    <servlet-name>PageTwo</servlet-name>
    <servlet-class>cookies.PageTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageTwo</servlet-name>
    <url-pattern>/page-two</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>Registration with Cookies</description>
    <display-name>Reg With Cookies</display-name>
    <servlet-name>RegistrationMitCookies</servlet-name>
    <servlet-class>cookies.RegistrationWithCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationMitCookies</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description>Setting Colors</description>
    <display-name>Setting Colors</display-name>
    <servlet-name>SettingColors</servlet-name>
    <servlet-class>cookies.SetColors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingColors</servlet-name>
    <url-pattern>/set-colors</url-pattern>
  </servlet-mapping>   
  <servlet>
    <description>Some Random Page</description>
    <display-name>Some Random Page</display-name>
    <servlet-name>SomeRandomPage</servlet-name>
    <servlet-class>cookies.SomeRandomPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeRandomPage</servlet-name>
    <url-pattern>/some-random-page</url-pattern>
  </servlet-mapping>    
</web-app>